<html>
    <body>
        <h1>Quotes</h1>
        <hr/>
        <table>
            {% for item in data %}
            <tr>
                <td>
                    {{item["quote"]}}
                </td>
                <td>
                    <em>-- {{item["author"]}}</em>
                </td>
                <td>
                    [ <a href="/edit/{{item['_id']}}">{{item["_id"]}}</a> ]
                </td>
                <td>
                    <a href="/delete/{{item['_id']}}"><button id="delete_quote">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </body>
</html>